html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable, input[type=button], input[type=submit] {
  cursor: pointer; }

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

ins {
  color: black;
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }

html, body {
  min-height: 100%; }

body {
  background-color: #404040; }

@font-face {
  font-family: 'opensansregular';
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#opensansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensansbold';
  src: url("fonts/OpenSans-Bold-webfont.eot");
  src: url("fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Bold-webfont.svg#opensansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: opensansbold, helvetica, sans-serif;
  font-size: 1.8em;
  color: white; }

h2 {
  font-family: opensansregular, helvetica, sans-serif;
  font-size: 1.5em;
  color: #c5c5c5; }

p, a {
  font-family: opensansregular, helvetica, sans-serif;
  font-size: 1em; }

p {
  color: #c5c5c5; }

a {
  color: #a0a0ff;
  text-decoration: none; }

.chapterblock {
  display: none; }

.chapterHeader {
  background: none;
  font-family: opensansregular, helvetica, sans-serif;
  font-size: 1.5em;
  color: #c5c5c5; }

.chapterHeader:hover, .chapterHeader:active, .chapterHeader:focus {
  cursor: pointer;
  color: #a0a0ff;
  outline: 0;
  transition: color 0.4s; }

.pageLink {
  display: inline-block;
  min-width: 10%; }

.nochapters {
  display: none; }
